<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <title>{% block title %}{% endblock %}</title>
</head>
  <body>
  {% if user.is_authenticated %}
    {% for group in user.groups.all%}
      {% if group.name == "Customers" %}
      <!-- Navbar Customer start -->
      <!-- As a customer, I want a navbar that can direct me to links for changing my pickup day,
          suspending my account, and an account info page.-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'customers:edit' 1 %}">Change Weekly Pickup Day</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'customers:edit' 2 %}">Suspend My Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'customers:edit' 3 %}">One Time Pickup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'customers:edit' 4 %}">Edit Account Info</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar Customer end -->
      {% elif group.name == "Employees" %}
      <p>Employee Navbar</p>
      {% endif %}
    {% endfor %}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% endif %}
    <main>
      <h1>{% block header %} {% endblock %}</h1>
      {% block content %}
      {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
  </body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}